.main {
  width: 100%;
  margin: 0;
}

.main__background {
  background-image: url(../../assets/Background.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 600px; /* или больше, чтобы покрывало контент */
  box-sizing: border-box;
}
