@font-face {
  font-family: Roboto;
  src: url("../../vendor/Fonts/roboto-400-regular.woff2");
}

.main {
  width: 100%;
  margin: 0;
}

.main__background {
  background-image: url(../../assets/Background.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 600px;
  box-sizing: border-box;
}

.main__not-found {
  background-color: #f5f6f7;
  position: relative;
  padding: 84px;
}

.main__not-found-box {
  width: 356px;
  margin: 0 auto;
}

.main__not-found-img {
  width: 82px;
  height: 82px;
  padding-left: 120px;
}

.main__not-found-title {
  font-family: "Roboto Slab", "Georgia", "Times New Roman", serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  color: #1a1b22;
}

.main__not-found-desc {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #b6bcbf;
}

.main__error {
  background-color: #f5f6f7;
  position: relative;
  padding: 84px;
}

.main__error-message {
  font-family: "Roboto Slab", "Georgia", "Times New Roman", serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  color: #1a1b22;
}

.button__show-more {
  width: 288px;
  height: 64px;
  display: block;
  background-color: white;
  color: black;
  border-radius: 80px;
  border: none;
  margin: 50px auto 80px;
  cursor: pointer;
}

.button__show-more:hover {
  background-color: #e8e8e8;
}

@media (max-width: 450px) {
  .news {
    padding: 0 16px;
    margin: 0;
  }

  .news__content {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .button__show-more {
    width: 288px;
    margin-bottom: 30px;
  }
}
