@font-face {
  font-family: Roboto;
  src: url("../../vendor/Fonts/roboto-400-regular.woff");
  src: url("../../vendor/Fonts/roboto-slab-400-regular.woff");
}

.saved-news {
  background: white transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.saved-news__content {
  padding: 40px 104px 56px;
}

.saved-news__articles {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #1a1b2280;
}

.saved-news__title {
  font-family: "Roboto Slab", "Georgia", "Times New Roman", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  letter-spacing: 0px;
  color: #1a1b22;
}

.saved-news__keyword {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  color: #1a1b22;
}

.saved-news__no-articles {
  padding: 30px 104px;
}

.saved-news__cards {
  background-color: #e8e8e8;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 40px 104px;
  list-style: none;
  box-sizing: border-box;
}

@media (max-width: 950px) {
  .saved-news__content {
    padding: 40px;
    margin-bottom: 30px;
  }

  .saved-news__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
    gap: 8px;
    padding: 30px 40px;
  }
}

@media (max-width: 450px) {
  .saved-news__content {
    padding: 0px 16px;
    margin-bottom: 30px;
  }

  .saved-news__articles {
    font-size: 12px;
  }

  .saved-news__title {
    font-size: 30px;
  }

  .saved-news__cards {
    padding: 20px 16px;
  }
}
