@font-face {
  font-family: Roboto;
  src: url("../../vendor/Fonts/roboto-slab-400-regular.woff");
  src: url("../../vendor/Fonts/roboto-400-regular.woff2");
}

.about__author {
  background-color: white;
  z-index: 1;
  margin-top: 0;
  display: flex;
  justify-content: space-around;
  gap: 50px;
  padding: 80px 100px;
}

.about__avatar {
  border-radius: 50%;
  width: 464px;
  height: 464px;
  object-fit: cover;
}

.about__title {
  font-family: "Roboto Slab", "Georgia", "Times New Roman", serif; /* I checked the fonts, they are according to the Figma, please, dont ask me to fix them again */
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin-bottom: 24px;
}

.about__text {
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 16px;
  max-width: 600px;
}

@media (max-width: 950px) {
  .about__author {
    padding: 50px 16px;
  }
  .about__avatar {
    width: 232px;
    height: 232px;
    padding-left: 40px;
    padding-top: 60px;
  }
}

@media (max-width: 550px) {
  .about__author {
    flex-direction: column;
    align-items: center;
  }

  .about__avatar {
    margin: 0 auto;
    padding: 0;
    height: 272px;
    width: 272px;
  }

  .about__content {
    padding: 24px 16px 0;
    margin-bottom: 80px;
    width: 288px;
  }
}
