.search__bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 40px;
  width: 608px;
  background-color: white;
  border-radius: 60px;
}

.search__bar-container {
  width: 100%;
  position: relative;
}

.search__input {
  padding: 20px 24px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 60px 0 0 60px;
  width: 350px;
}

.search__input::placeholder {
  color: #a0a0a0;
}

.search__btn {
  padding: 20px 40px;
  background: #2f71e5;
  color: white;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: relative;
  left: 86px;
}

.search__btn:hover {
  background: #347eff;
}

.news {
  background-color: #f5f6f7;
  background-size: cover;
}

.news__content {
  padding: 80px 100px;
  margin: 0 auto;
}

.news__title {
  font-family: "Roboto Slab", "Georgia", "Times New Roman", serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

@media (max-width: 950px) {
  .search__btn {
    left: 80px;
    width: 160px;
  }
}

@media (max-width: 725px) {
  .search__bar {
    width: 288px;
    height: 56px;
    display: block;
  }

  .search__btn {
    width: 288px;
    height: 56px;
    top: 20px;
    left: 0;
  }

  .search__input {
    width: 250px;
    background-color: transparent;
  }
}
