@font-face {
  font-family: Roboto Slab;
  src: url("../../vendor/Fonts/roboto-700.woff2");
}

.header {
  padding: 0;
  background-image: url(../../assets/Backgroundp.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 600px;
  box-sizing: border-box;
}

.header_dark {
  background: none;
  height: 100px;
  min-height: 0;
}

.header__content {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 0 100px;
}

.header__logo {
  background-color: transparent;
  margin: 27px 0;
  border: none;
  color: white;
  font-family: "Roboto Slab", "Georgia", "Times New Roman", serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;
}

.header__nav-list {
  gap: 24px;
  display: flex;
  align-items: center;
  list-style: none;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 26px 0 0;
}

.header__home {
  position: relative;
  background-color: transparent;
  border: none;
  color: #b6bcbf;
  padding: 8px 16px;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  text-decoration: none;
}

.header__home::after {
  content: "";
  position: absolute;
  bottom: -27px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: left;
}

.header__home:hover::after {
  transform: scaleX(1);
}

.header__login {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 24px;
  width: 152px;
  height: 40px;
  padding: 5px 20px;
  margin-left: 16px;
  color: white;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}

.header__login:hover {
  background-color: #e8e8e8;
}

.header__logout-btn {
  border-width: 1px;
  border-radius: 100px;
  border-color: white;
  color: white;
  display: flex;
  background-color: transparent;
  gap: 12px;
}

.header__username {
  padding: 12px;
  font-family: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.header__logout-img {
  padding: 12px;
  cursor: pointer;
}

.header__logo_dark {
  color: #1a1b22;
}

.header__home_dark,
.header__login_dark {
  color: #1a1b22;
}

.header__login_dark {
  border: 1px solid #1a1b22;
}

.header__home_dark::after {
  content: "";
  position: absolute;
  bottom: -27px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #1a1b22;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  transform-origin: left;
}

.header__home_dark:hover::after {
  transform: scaleX(1);
}

.header__login_dark:hover {
  background-color: #e8e8e8;
}

.header__logout-btn_dark {
  border: 1px solid #1a1b22;
  color: black;
}

.header__logout-img_dark {
  filter: invert(1);
}

.header__hamburger {
  display: none;
  background: none;
  border: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.header__hamburger-line {
  width: 24px;
  height: 2px;
  background-color: white;
}

.header__hamburger-line_dark {
  background-color: black;
}

.header__overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* 50% black opacity */
  z-index: 999;
  display: flex;
  justify-content: flex-end;
}

.header__mobile-menu {
  width: 100%;
  max-width: 100vw;
  background-color: #1a1b22;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px 24px 40px;
  z-index: 1000;
  height: 230px;
  overflow-y: auto;
  border-radius: 0;
}

.header__mobile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}

.header__close-button {
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
}

.header__mobile-menu.hidden {
  display: none;
}

@media (max-width: 950px) {
  .header {
    padding: 16px;
    overflow: hidden;
  }

  .header__content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  }

  .header__logo {
    font-size: 20px;
    margin: 0;
  }
}

@media (max-width: 750px) {
  .header__content {
    padding: 20px;
  }

  .header__nav-list {
    display: none;
  }

  .header__hamburger {
    position: relative;
    display: flex;
  }

  .header__mobile-menu {
    visibility: visible;
  }

  .header__login {
    width: 288px;
    height: 56px;
    width: 100%;
    margin: 20px 0;
  }
}
