@font-face {
  font-family: Roboto;
  src: url("../../vendor/Fonts/roboto-400-regular.woff");
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 104px 26px;
}

.footer__content {
  color: #b6bcbf;
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.footer__links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.links__group-two {
  display: flex;
  align-items: self-start;
  padding-right: 16px;
  gap: 20px;
}

.footer__home {
  border: none;
  background-color: transparent;
  color: black;
  cursor: pointer;
  text-decoration: none;
  margin-right: 20px;
}

.footer__tt {
  border: none;
  background-color: transparent;
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.footer__git {
  cursor: pointer;
}

.footer__fcbk {
  cursor: pointer;
  margin-right: 20px;
}

@media (max-width: 725px) {
  .footer {
    padding: 0 16px;
    flex-direction: column-reverse;
    width: 100%;
    margin: 0;
  }

  .footer__links {
    justify-content: space-between;
  }
  .links__group-one {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }

  .links__group-two {
    margin-right: 20px;
    gap: 20px;
  }
}
