@font-face {
  font-family: Roboto;
  src: url("../../vendor/Fonts/roboto-slab-400-regular.woff");
  src: url("../../vendor/Fonts/inter-400-regular.woff2");
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 40px 0;
  list-style: none;
  margin: 0;
}

.card {
  width: 100%;
  max-width: 400px;
  background-color: white;
  border-radius: 5%;
  box-sizing: border-box;
  overflow: hidden;
}

.card__image-wrapper {
  position: relative;
}

.card__image {
  position: relative;
  width: 100%;
  height: 272px;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}

.news__card-save-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.card__content {
  padding: 20px;
}

.news__date {
  color: #b6bcbf;
  font-family: Source Sans Pro;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  vertical-align: middle;
}

.card__title {
  font-family: Roboto Slab;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
}

.card__description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.card__signature {
  color: #b6bcbf;
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.button__show-more {
  width: 288px;
  height: 64px;
  display: block;
  background-color: white;
  color: black;
  border-radius: 80px;
  border: none;
  margin: 50px auto 80px;
  cursor: pointer;
}

.button__show-more:hover {
  background-color: #e8e8e8;
}
